apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: website
        image: 493263630011.dkr.ecr.ap-southeast-1.amazonaws.com/website:latest
        ports:
        - containerPort: 80